:root {
  --primary-color: #1976d2;
  --primary-color-dark: #004ba0;
  --grey-color: #e1e2e1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1rem = 10px, 10px/16px = 62.5% */
}

body {
  font-size: 1.6rem;
}

/*** Mobile ***/
.container {
  display: grid;
  grid-template-areas:
    "nav"
    "filtro"
    "main"
    "paginador"
    "footer";
  grid-template-rows: auto auto 1fr auto auto;
  height: 100vh;
}

nav {
  background-color: var(--primary-color);
  color: #fff;
  grid-area: nav;

  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.filtro {
  background-color: var(--grey-color);
  padding: 2rem;
  grid-area: filtro;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.filtro select {
  width: 20rem;
  text-align: center;
}

main {
  background-color: #fff;
  grid-area: main;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
  overflow: auto;
}

.card {
  /* width: 80%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;

  border: solid 1px var(--grey-color);
  border-radius: 5px;
  padding: 1.6rem 0;
}

.card > img {
  width: 100%;
}

.card > p {
  font-weight: bold;
  font-size: 1.5rem;
}

.card > button {
  background-color: var(--primary-color-dark);
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1.5rem;
  padding: 1.5rem 3rem;
  cursor: pointer;
  margin-top: 1rem;
  width: 40%;
}

.paginador {
  grid-area: paginador;
  padding: 1rem;
  gap: 2px;

  display: flex;
  justify-content: center;
}

.paginador button {
  background-color: #fff;
  border: 1px solid var(--grey-color);
  border-radius: 3px;
  padding: 5px 10px;
}

footer {
  background-color: var(--primary-color-dark);
  color: #fff;
  grid-area: footer;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
}

/* Desktop */
@media (min-width: 576px) {
  .container {
    grid-template-areas:
      "nav filtro"
      "nav main"
      "footer paginador";
    grid-template-rows: auto 1fr auto;
    height: 100vh;
  }

  main {
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-content: start;
  }

  .card > button {
    background-color: var(--primary-color-dark);
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    padding: 1.5rem 1rem;
    cursor: pointer;
    margin-top: 1rem;
    width: 80%;
  }
  .card > p {
    font-weight: bold;
    font-size: 1rem;
  }
}
